html, body {
    height: 100%;
}

#title {
    line-height: 0.5em;
}

#footer {
    line-height: 0.25em;
}

#mapid {
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 16%;
    height: 80%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 5px;
}
