html, body {
    height: 100%;
}

#title {
    line-height: 0.5em;
}

#footer {
    line-height: 0.25em;
}

#mapid {
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    height: 80%;
    width: 70%;
    display: inline-block;
}

#panel {
    width: 26%;
    height: 80%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 5px;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

button:focus {
    outline:0;
}


.mapControl{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    background-color: #1650ff;
    color: #ffffff;

}

.selected{

    background-color: #ffffff;
    color: #1650ff;
    border: solid 1px #1650ff;
}

#crime-selectors-panel {
  display: flex;
}

#crime-selectors-column {
  flex: 50%;
}

/* .crime-selectors-panel {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
/* .crime-selectors-column:after {
  content: "";
  display: table;
  clear: both;
} */
